<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pre_challenge.name %>
</p>

<%= link_to 'Edit', edit_pre_challenge_path(@pre_challenge) %> |
<%= link_to 'Back', pre_challenges_path %>
