<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @pre_challenge_event.state %>
</p>

<%= link_to 'Edit', edit_pre_challenge_event_path(@pre_challenge_event) %> |
<%= link_to 'Back', pre_challenge_events_path %>
