<div class="p_statement" style="width: 100%;text-align: center;">
  <%= "PROBLEM STATEMENT" %>
</div>
<div class="top" style="padding-top: 20%;">
  <%= user_challenge.challenge.question %>
</div>

<div class="clearfix"></div>
<div class="clearfix"></div>
