<br>

<% if current_user.challenges.present? %>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-xs-4" style="background-color: #0feb9e">

      </div>
    </div>
<% end %>

<% if @user_challenges.present? %>
    <% @user_challenges.each do |user_challenge| %>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-xs-4" style="background-color: #0feb9e">
            <%= user_challenge.question %>
          </div>

          <div class="col-xs-4" style="background-color: #0feb9e">
            <%=link_to "Answer this", new_user_challenge_path(user_challenge.id)%>
          </div>
        </div>
    <% end %>
<% end %>

