<div id="show-challenges">
  <p id="notice"><%= notice %></p>

  <h1>Listing Challenges</h1>

  <div id="show-qusetion">
    <% @challenges.each do |challenge| %>
      <%= challenge.question %>
      <div class="clear"></div>
    <% end %>
  </div>  
</div>
<%= link_to 'New Challenge', new_challenge_path %>

<script type="text/javascript">
	pixlr.settings.target = 'http://localhost:3000';
   	pixlr.settings.exit = 'http://localhost:3000';
   	pixlr.settings.method = 'GET';
   	pixlr.settings.redirect = false;
</script>
<a href="javascript:pixlr.overlay.show();" >Open Pixlr </a>