<div id="show-challenges">
  <p id="notice"><%= notice %></p>

  <h1>Listing Challenges</h1>

  <div id="show-qusetion">
    <% @challenges.each do |challenge| %>
      <%= challenge.question %>
      <div class="clear"></div>
    <% end %>
  </div>  
</div>
<%= link_to 'New Challenge', new_challenge_path %>
