/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min.css
 *= require font-awesome
 */

html{
    height: 100%;
}
#navigation{
height: 20%;
}
body{
    height: 100%;
}
 * {
    border: 0 none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#preloader {
    background-color: #fff;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1100;
}

#preloader > img {
    left: 47%;
    position: absolute;
    top: 48%;
}



.main_content_div{
	width: 100%;
    height: 100%;
}

.each-part-container{
	min-height: 700px;
}


/*
	industory_categories css
*/

.industory_categories_maindiv{
	width: 80%;
	height: 500px;
	background: #3079ed;
	
}

.industory_categories_div{
	margin: 0 auto;
	width: 80%;
	background: #337ab7;
	text-align: left;
	padding: 20px;
}

.industory_category_div{
	background: #FFFFFF;
	height: 150px;
	width: 100%;
	/*float: left;*/
	margin: 5px;
}
.ic_left{
	width: 49%;
	height:150px;
	line-height: 150px;
	float: left;
}
.ic_img_right{
	width: 50%;
	height:150px;
	float: left;
    display: inline-flex;
}

.ic_companies{
	float: left;
	width: 20%;
	text-align: center;
	border-style: solid;
    border-width: 2px;
    height: 100px;
    margin-left: 10px;
}

.text-align-center{
  text-align: center;
}


.industory_categories_and_companies{
	float: left;
	width: 23%;
	margin-left: 5px;
}
.companies_dispaly_div{
	border-style: solid;
	border-width: 2px;
	width: 800px;
	background: #FFFFFF;
	display:none;
}
.image_company{
	height: 80%;
	width: 100%;
	display: inline-flex;
}


/*
	process page css
*/

.progress_main_div{
	margin: 0 auto;
	width: 80%;
	text-align: left;
	padding: 20px;
	/*
	border-style: solid;
		border-width: 2px;*/
	
}

.progress_top{
	
	height:100px;
	width:100%;
	color: #337ab7;
	
}
.circle_div{
	height: 60px;
	width: 60px;
	border-radius:30px;
	border-style: solid;
	border-width: 2px;
	margin: 5px 0px 0px 20px;
	float: left;
	background-image: url("flower.jpg")
}
.small_circle_div{
	height: 30px;
	width: 30px;
	border-radius:15px;
	border-style: solid;
	border-width: 2px;
	margin-left: 20px;
	float: left;
	
}
.medium_circle_div{
	height: 40px;
	width: 40px;
	border-radius:20px;
	border-style: solid;
	border-width: 2px;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
	background-image: url("flower.jpg")
}

.logo_div{
	width: 30%;
	float: left;
}

.links_progress_top{
	text-align: right;
}

.progress_second{
	
	min-height:400px;
	
}

.progress_second_left{
	width: 20%;
	min-height:400px;
	float: left;
	padding: 15px;
	border-right-style: dotted;
	border-right-width: 2px;
	
}

.progress_second_middle{
	width: 60%;
	min-height:400px;
	float: left;
	padding: 20px;
	
	
	color: #337ab7;
	
}

.current_industry{
	width:100%
	float:left;
	min-height:130px;
	
}
.recently_played{
	width:100%
	min-height:100px;
	float:left;
}

.played_info{
	width: 50%;
	float:left;
	margin-left: 20px;
}

.progress_second_right{
	width: 20%;
	min-height:400px;
	float: left;
	padding: 15px;
	color: #337ab7;
	
}



/*
	pre challenges css
*/
.rcorners1 {
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 210px;
    height: 150px;
}

.pre-challenge-square{
	display: table;
	float: left;
  width: 50%;
  text-align: center;
  position: relative;
  left: 30%;
  top: 45%;
  background: #4679BD;
}

.challenge-logo{
	display: table;
  position: relative;
  left: 40%;
  top: 10%;
  margin-bottom: 10px;
}

.challenge-logo img{
	width: 110px;
	height: 100px;
}

.challenges_main_div{

    height: 60%;
    background: #FFFFFF;


}

.challenges_div{
    text-align: center;
	background-image: url("fc_bg.png") ;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 80%;
    line-height: 100%;

  background-color: #ffffff;

}

.move-arrow{
    font-size: 50px;
    color: #2e6da4;
    float: left;
    height: 100%;
    padding-top: 15%;
    cursor: pointer;
}

.tools_and_persons{
	/* height: 100%; */
	 border-radius: 10px;
	 width: 50px;
	background-color: #2e6da4;
	float: left;
}

.date {
	 border-radius: 10px;
	width: 50px;
	color: white;
	background-color: #2e6da4;
	float: right;
}

/*Admin part css*/
.admin_main_div{
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;

}

.tab_admin{
	width: 50%;
	float: left;
	border-radius: 5px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}
.admin_company_info_tittle{
	background-color: #33CCFF;
}
.admin_student_info_tittle{
	background-color: #2EB82E;
}

.admin_company_info_div{
	background-color: #C2C2CC;
}

.admin_student_info_div{
	
	background-color: #C2C2CC;
	
}
.admin_left_div{
	width: 75%;
	float: left;
	padding: 5%;
	background-color: #CDEECD;
}
.admin_right_div{
	width: 25%;
	float: left;
	padding: 2%;
	background-color: #C2C2CC;
}

.admin_layout{
	width: 80%;
	margin: 0 auto;
	background-color: #CDEECD;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-top: 10px;
}

.ic_div, .sub_ic_div, .ind_div{
	height: 20px;
	margin: 5px;
	/*border: 1px solid red;*/
}

.ic_div{
	background-color: #169393;
}
.sub_ic_div{
	background-color: #8AC0C0;
}
.ind_div{
	background-color: #D0E6E6;
}