/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min.css
 *= require_self
 */
 * {
    border: 0 none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#preloader {
    background-color: #fff;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1100;
}

#preloader > img {
    left: 47%;
    position: absolute;
    top: 48%;
}



.main_content_div{
	width: 100%;
}

.each-part-container{
	min-height: 700px;
}


/*
	industory_categories css
*/

.industory_categories_maindiv{
	width: 80%;
	height: 500px;
	background: #3079ed;
	
}

.industory_categories_div{
	margin: 0 auto;
	width: 80%;
	background: #337ab7;
	text-align: left;
	padding: 20px;
}

.industory_category_div{
	background: #FFFFFF;
	height: 200px;
	width: 23%;
	float: left;
	margin: 5px;
}
.ic_left{
	width: 49%;
	height:150px;
	line-height: 150px;
	float: left;
}
.ic_img_right{
	width: 50%;
	height:150px;
	float: left;
    display: inline-flex;
}

.ic_companies{
	float: left;
	width: 90%;
	text-align: center;
	border-style: solid;
    border-width: 2px;
}

.text-align-center{
  text-align: center;
}
